<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gin test</title>
</head>

<body onload="setTitle()">
    <h1 id="title"></h1>


    <script>
        let title = "hi gin"
        let tt = document.getElementById("title");

        function setTitle() {
            console.log(title);
            tt.innerHTML = title;
        }
    </script>
</body>

</html>